.category {
  font-size: 40px;
}

.highlight {
  font-weight: 600;
  color: rgb(168, 209, 253);
}

.about_container {
  position: relative;
  border-radius: 15px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}
  
.about_title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}
  
.about_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.about_img {
  margin: 5px;
  width: 30%;
  border-radius: 100%;
}
  
.about_items {
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  list-style: none;
  padding: 25px; 
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: 0.4s;
}
  
.about_item:hover {
  background-size: 100% 100%;
}

.about_item h3 {
  font-size: 30px;
  font-weight: 600;
}

.about_item p {
  font-size: 20px;
}
  
@media screen and (max-width: 830px) {
  .about_container {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
  }

  .about_content {
    flex-direction: column;
  }

  .about_item h3 {
    font-size: 25px;
    /* background-color: red; */
  }

  .about_item p {
    font-size: 18px;
  }

  .about_img {
    width: 100%;
    margin-top: -30px;
  }
  
  .about_items {
    margin-top: -90px;
  }

  .about_item {
    padding-left: 0;
    padding-right: 0;
  }
}
