.experience_container {
    position: relative;
    border-radius: 30px; 

    margin-top: 100px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}

.experience_options {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between; 
}

.experience_options button {
    flex-grow: .5; 
    margin: 0 5px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    padding: 12px 24px;
    border-radius: 30px; 
    border: 2px solid #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.experience_options button:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2); 
}

.experience_options button.active {
    background-color: #f0f0f0; 
    color: black;
    transform: translateY(-5px);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.experience_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); /* 3 columns on larger screens */
  gap: 4%;
}

.experience_item {
    background-color: #f0f2f5; 
    padding: 20px; 
    border-radius: 30px;  
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    width: 100%; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.experience_item:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2); 
}

.experience_item h2 {
    background-color: #f0f2f5;
    margin-bottom: 10px;
    color: #333;  
}

.experience_item h3 {
    background-color: #f0f2f5;
    color: #333; 
    margin-bottom: 5px;
    font-style: italic;
}

.experience_item p {
    background-color: #f0f2f5;
    color: rgb(68, 144, 225);
    font-style: italic;
}

.experience_item li {
    background-color: #f0f2f5;
    color: #333; 
}

.experience_item ul {
    background-color: #f0f2f5;
    color: #333; 
}

.technical_skill {
    color: rgb(68, 144, 225);
    font-weight: 600;
    background-color: #f0f2f5;
}

@media (max-width: 768px) {
    .experience_options {
      flex-direction: column; 
      align-items: center; 
    }
  
    .experience_options button {
      width: 100%; 
      margin: 10px 0; 
    }
  
    .experience_list {
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr)); /* 2 columns on medium screens */
    }
  
    .experience_item {
      width: 90%; 
      padding: 15px;
    }
  }
  

  @media (max-width: 480px) {
    .experience_list {
      grid-template-columns: repeat(auto-fill, minmax(90%, 1fr)); /* 1 column on smaller screens */
    }

    .experience_item h2 {
      font-size: 18px; 
    }
  
    .experience_item h3 {
      font-size: 16px; 
    }
  
    .experience_item p, .experience_item ul {
      font-size: 14px; 
    }
  }