.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 2;
  margin: 0 10%;
  position: sticky;
  top: 0;
}

.navbar_title {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.navbar_menu {
  display: flex;
}
.navbar_menuBtn {
  display: none;
}

.navbar_menuItems {
  display: flex;
  gap: 50px;
  list-style: none;
}

.navbar_menuItems a {
  font-size: 20px;
  color: var(--color-text);
  text-decoration: none;
}
.navbar_icons {
  width: 24px; 
  margin-left: 10px; 
}

.navbar_icon_container {
  display: flex;
  align-items: center;
  gap: 10px; 
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar_icon_container {
    display: none;
  }

  .navbar_title {
    font-size: 25px;
    margin-bottom: 11px;
  }

  .navbar_menu {
    position: absolute;
    right: 0;
    margin-right: 2%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .navbar_menuBtn {
    display: block;
    cursor: pointer;
    width: 50%;
    margin-top: -5px;
    z-index: 10;
  }

  .navbar_menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 0; 
    padding: 0; 
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    box-shadow: none; 
    background-color: rgb(13, 27, 42); 
    padding-top: 20%;
  }

  .navbar_menuItems a {
    font-size: 40px;
  }

  .navbar_menuOpen {
    display: flex;
    z-index: 1;
  }
}