/* earlier error:  setting backgrnd color to global -> wrecking layout & visual layering */

* {
  /* calc element's width & height // aka use easier width calc for every element */
  box-sizing: border-box; 
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: #0a192f;
}